{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'check/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <title>Price Checker | By the BlueCoder09</title>
</head>

<body>
<nav class="navbar navbar-expand-lg py-0" style="background-color:#000000; text-align: center;">
    <div class= "container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="color:white; font-family: 'Russo One', sans-serif;">
      <img src="{% static 'check/logo.gif' %}" width="130" height="95" class="d-inline-block align-top" alt="Price Checker">

    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white; font-family: 'Russo One', sans-serif;">Something</a>
      </li>

        <li class="nav-item active">
        <a class="nav-link active" href="#" style="color:white; font-family: 'Russo One', sans-serif;">Something</a>
      </li>

    </ul>
  </div>
</nav>

{% block content %}{% endblock %}
</body>
</html>

